.cart-container {
    padding: 20px;
    max-width: 900px;
  }
  
  .cart-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .cart-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .empty-cart {
    text-align: center;
    color: gray;
    font-size: 16px;
  }
  

    .cart-image {
      width: 96px;
      max-height: 120px;
    }
  
    .cart-info {
      display: flex;
      height: 120px;
      flex-direction: column;
      justify-content: space-between;
  
      .cart-name {
        font-size: 1.2em;
        line-height: 1.2em;
        // font-weight: 700;
        color: #333333;
        word-break: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 6em;
        padding-top: 0px;
      }
  
      .cart-price {
        font-size: 1.2em;
        line-height: 1.2em;
        color: gray;
        text-decoration: line-through;
      }
      .price-sell{
        font-size: 1.2em;
        line-height: 1.2em;
        color: black;
        font-weight: 700;
      }
    }
  
    .cart-quantity {
      display: flex;
      align-items: center;
      gap: 5px;
  
      .cart-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: #ddd;
        cursor: pointer;
        border-radius: 5px;
      }
  
      .cart-quantity-text {
        width: 25px;
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: center;
      }
    }
  

  
  
  .cart-total {
    text-align: right;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  
    .total-price {
      font-size: 18px;
      font-weight: bold;
    }
    .price{
      font-size: 18px;
      color: #c92026;
      font-weight: bold;
    }
  
  }
  .checkout-btn {
    width: 100%;
    background: green;
    color: white;
    padding: 10px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .custom-col{
    align-self: center;
    justify-items: center;
  }